# Virtual environment
env/
venv/

# Python
*.pyc
__pycache__/

# IDE/Editor files
.vscode/
.idea/

# Node.js
node_modules/

# Build output (React)
frontend/build/

# Security - never commit secret keys or passwords
# <any_file_containing_secrets> 